/* 본문 전체 너비 조정 */
.container {
    max-width: 1200px !important;  /* 기본보다 더 넓게 확장 */
    padding-left: 40px; /* 좌측 여백 */
    padding-right: 40px; /* 우측 여백 */
  }
  
/* AACR 2025 페이지의 본문을 더 넓게 표시 */
.expanded-content {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }