/* 본문 전체 너비 조정 */
.container {
    max-width: 1200px !important;  /* 기본보다 더 넓게 확장 */
    padding-left: 40px; /* 좌측 여백 */
    padding-right: 40px; /* 우측 여백 */
  }
  
  /* AACR 페이지의 Abstract 섹션 너비 확장 */
  #abstract {
    max-width: 1000px; /* 기본보다 더 넓게 조정 */
    margin: 0 auto; /* 중앙 정렬 유지 */
    padding-left: 30px;
    padding-right: 30px;
  }